In [1]:
import numpy as np
import pandas as pd

## Question 1

#### What's the version of NumPy that you installed?

In [2]:
np.__version__

'1.21.5'

## Question2

#### How many records are in the dataset?

In [3]:
df=pd.read_csv('data.csv')
df.describe()

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
count,11914.000000,11845.00000,11884.000000,11908.000000,11914.000000,11914.000000,11914.000000,1.191400e+04
mean,2010.384338,249.38607,5.628829,3.436093,26.637485,19.733255,1554.911197,4.059474e+04
std,7.579740,109.19187,1.780559,0.881315,8.863001,8.987798,1441.855347,6.010910e+04
min,1990.000000,55.00000,0.000000,2.000000,12.000000,7.000000,2.000000,2.000000e+03
25%,2007.000000,170.00000,4.000000,2.000000,22.000000,16.000000,549.000000,2.100000e+04
50%,2015.000000,227.00000,6.000000,4.000000,26.000000,18.000000,1385.000000,2.999500e+04
75%,2016.000000,300.00000,6.000000,4.000000,30.000000,22.000000,2009.000000,4.223125e+04
max,2017.000000,1001.00000,16.000000,4.000000,354.000000,137.000000,5657.000000,2.065902e+06

In [27]:
df.tail()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

## Question 3

#### Who are the most frequent car manufacturers (top-3) according to the dataset?

In [5]:
df['Make'].value_counts()[:3]

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

In [6]:
df.groupby('Make').count().sort_values(by=['Model'], ascending=False)[:3]

,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
Make,,,,,,,,,,,,,,,
Chevrolet,1123,1123,1123,1117,1121,1123,1123,1123,622,1123,1123,1123,1123,1123,1123
Ford,881,881,881,868,881,881,881,881,499,881,881,881,881,881,881
Volkswagen,809,809,809,809,805,809,809,809,585,809,809,809,809,809,809

## Question 4

#### What's the number of unique Audi car models in the dataset?

In [7]:
audi_df = df[(df['Make'] == 'Audi')]
audi_df['Model'].nunique()

34

## Question 5

#### How many columns in the dataset have missing values?

In [8]:
null = df.isna().sum()
count = 0
for x in null:
    if x > 0:
        count+=1
count

5

## Question 6

#### 6.1 Find the median value of "Engine Cylinders" column in the dataset.

In [9]:
df['Engine Cylinders'].median()

6.0

In [10]:
mode = df['Engine Cylinders'].mode()
mode

0    4.0
Name: Engine Cylinders, dtype: float64

#### 6.2 Calculate the most frequent value of the same "Engine Cylinders".

In [11]:
missing_values_EC = df['Engine Cylinders'].isna().sum()
missing_values_EC

30

#### 6.3 Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.

In [12]:
df['Engine Cylinders'] = df['Engine Cylinders'].fillna(mode)

#### 4. Calculate the median value of "Engine Cylinders" once again. Has it changed?

In [13]:
df['Engine Cylinders'].median()

6.0

In [14]:
df['Engine Cylinders'].mode()

0    4.0
Name: Engine Cylinders, dtype: float64

## Question 7

#### 7.1 Select all the "Lotus" cars from the dataset.

In [15]:
lotus_df = df[(df['Make'] == 'Lotus')]
lotus_df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
3912,Lotus,Elise,2009,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,43995
3913,Lotus,Elise,2009,premium unleaded (required),218.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,26,20,613,54990
3914,Lotus,Elise,2009,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,47250
3915,Lotus,Elise,2010,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,47250
3916,Lotus,Elise,2010,premium unleaded (required),218.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,26,20,613,54990

#### 7.2 Select only columns "Engine HP", "Engine Cylinders".

In [16]:
lotus_df_subset = lotus_df[['Engine HP', 'Engine Cylinders']]
lotus_df_subset.head()

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3914      189.0               4.0
3915      189.0               4.0
3916      218.0               4.0

#### 7.3 Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).

In [17]:
lotus_df_no_dups = lotus_df_subset.drop_duplicates()
lotus_df_no_dups

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

#### 7.4 Get the underlying NumPy array. Let's call it X.

In [18]:
X = lotus_df_no_dups.values
X

array([[189.,   4.],
       [218.,   4.],
       [217.,   4.],
       [350.,   8.],
       [400.,   6.],
       [276.,   6.],
       [345.,   6.],
       [257.,   4.],
       [240.,   4.]])

In [19]:
X.shape

(9, 2)

#### 7.5 Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

In [20]:
XT = X.T
XT

array([[189., 218., 217., 350., 400., 276., 345., 257., 240.],
       [  4.,   4.,   4.,   8.,   6.,   6.,   6.,   4.,   4.]])

In [21]:
XT.shape

(2, 9)

In [22]:
XTX = XT.dot(X)
XTX

array([[7.31684e+05, 1.34100e+04],
       [1.34100e+04, 2.52000e+02]])

#### 7.6 Invert XTX.

In [23]:
IXTX = np.linalg.inv(XTX)
IXTX.sum()

0.15475735843457794

#### 7.7 Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].

In [24]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])
y

array([1100,  800,  750,  850, 1300, 1000, 1000, 1300,  800])

#### 7.8 Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

In [25]:
IXTXbyXT = IXTX.dot(XT)
w = IXTXbyXT.dot(y)

#### 7.9 What's the value of the first element of w?

In [26]:
w[0]

4.594944810094579